certifi==2025.1.31
charset-normalizer==3.4.1
idna==3.10
numpy==2.2.3
oauthlib==3.2.2
pandas==2.2.3
pymarc==5.2.3
python-dateutil==2.9.0.post0
pytz==2025.1
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
tzdata==2025.1
urllib3==2.3.0
